/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: rgb(227 227 227);
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.nav-logo {
  display: flex;
  flex-direction: column;
}

.nav-title {
  font-weight: 700;
  font-size: 20px;
}

.nav-subtitle {
  font-weight: 100;
  font-size: 13px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  list-style: none;
  color: black;
}

.primary {
  padding: 5px 15px;
  background-color: rgb(0 75 132);
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.books-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.book-div h6 {
  font-size: 17px;
  font-weight: 700;
}

.book-div span {
  font-size: 14px;
  font-weight: 300;
}

.books-section-title {
  font-weight: 700; 
  font-size: 25px;
}

.empty-message {
  font-size: 14px;
}
