<div class="books-section">
  <h3 id="books-section-title" class="books-section-title">Libros</h3>
  {{#if @books}}
    {{#each @books as |book|}}
      <Ui::Book @book={{book}} />
    {{/each}}
  {{else}}
    <span id="empty-message" class="empty-message">Sin libros para mostrar</span>
  {{/if}}
</div>
