<nav>
  <div class="nav-logo">
    <span class="nav-title">Book Explorer</span>
    <span class="nav-subtitle">EmeberJS App</span>
  </div>

  <ul class="nav-links">
    <li><LinkTo
        @route="index"
        id="link-home"
        class="nav-link"
      >Home</LinkTo></li>
    <li><LinkTo
        @route="explorer"
        id="link-explorer"
        class="nav-link"
      >Explorer</LinkTo></li>
  </ul>
</nav>